@import "tailwindcss";

@theme {
  --color-primary: #ea580c;
  --color-secondary: #f97316;
  --color-dark: #0f172a;
  --color-light: #f8fafc;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased;
  }
}